<ion-header>
    <ion-navbar>
        <ion-title>
            Nova denúncia
        </ion-title>
    </ion-navbar>
</ion-header>
<ion-content class="content">
    <ion-list>
        <ion-label text-center class="label-custom">Imagens</ion-label>
        <div item-content class="images-container">
            <img *ngFor="let t of thumbs" src="{{t}}">
            <!--<button ion-button icon-only color="light" class="camera-icon" (click)="goToCamera()">
              <ion-icon name="images" large></ion-icon> <ion-icon name="add" small></ion-icon>
            </button>-->
            <button ion-button icon-only color="light" class="camera-icon" (click)="goToCamera()">
              <ion-icon name="camera" large></ion-icon> <ion-icon name="add" small></ion-icon>
            </button>
        </div>
        <ion-item>
            <ion-label class="label-custom">Impacto no seu dia-a-dia</ion-label>
            <ion-range min="0" max="50" [(ngModel)]="impact" color="danger">
                <ion-label range-left>
                    <ion-icon name="sad" color="danger" small></ion-icon>
                </ion-label>
                <ion-label range-right>
                    <ion-icon name="sad" color="danger" large></ion-icon>
                </ion-label>
            </ion-range>
        </ion-item>
        <ion-item class="construction-site-container">
            <ion-list item-content radio-group [(ngModel)]="constructionSite">
                <ion-label text-center>Localização</ion-label>
                <ion-item>
                    <ion-label>
                        <p>
                            <ion-icon name="locate"></ion-icon> Sua localização
                        </p>
                        <p class="construction-site-label">{{userAddress}}</p>
                    </ion-label>
                    <ion-radio [value]="userId"></ion-radio>
                </ion-item>
                <ion-item *ngFor="let cs of constructionSites">
                    <ion-label>
                        <p>
                            <ion-icon name="flag"></ion-icon> {{cs.distance}} km</p>
                        <p class="construction-site-label">{{cs.title}}</p>
                    </ion-label>
                    <ion-radio [value]="cs._id"></ion-radio>
                </ion-item>
            </ion-list>
        </ion-item>
        <ion-item>
            <ion-textarea [(ngModel)]="description" placeholder="Descreva sua indignação"></ion-textarea>
        </ion-item>
        <ion-item>
            <button ion-button full default (click)="confirmComplaint()">
        Enviar
      </button>
        </ion-item>
    </ion-list>

</ion-content>