page-complaints {
    .complaint-option {
        height: 10vh;
        line-height: 3vh;
    }
    .complaint-option {
        .button-inner {
            flex-flow: column;
        }
    }
    .constructionSite-button {
        height: 12vh;
        line-height: 4vh;
    }
    .slide-image {
        display: block;
        max-height: 50vh;
        width: auto;
        height: auto;
        margin: 0 auto;
    }
    .send-option {
        width: 10% !important;
        .button-inner {
            flex-flow: column;
        }
    }
    .comment-area {
        width: 90% !important;
    }
    .comment-button {
        height: 10vh;
        line-height: 3vh;
        .button-inner {
            flex-flow: column;
        }
        background-color: #cccccc;
    }
    .comments {
        height: 15vh;
        .comment-profile {
            font-size: 2vh;
            word-wrap: break-word !important;
            opacity: 0.5;
            padding: 0 !important;
            margin: 0 !important;
        }
        .comment-text {
            width: 80%;
            margin: 0 auto;
            display: block;
            /* or inline-block */
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .slide-indicator-left {
            position: absolute;
            left: 2vh;
            opacity: 0.5;
            top: 50%;
        }
        .slide-indicator-right {
            position: absolute;
            margin: 0 auto;
            opacity: 0.5;
            right: 2vh;
            top: 50%;
        }
    }
}