<!--<ion-header>
    <ion-searchbar [(ngModel)]="myInput" [showCancelButton]="shouldShowCancel" (ionInput)="onInput($event)" (ionCancel)="onCancel($event)">
    </ion-searchbar>
</ion-header>-->

<ion-content>

    <ion-card *ngFor="let c of complaints">
        <ion-item>
            <ion-avatar item-left>
                <img src="{{c.createdBy.profile.picture}}">
            </ion-avatar>
            <div item-content item-left>
                <p>{{c.createdBy.profile.name}}</p>
            </div>
        </ion-item>
        <ion-slides *ngIf="c.images.length>0" pager="true">
            <ion-slide *ngFor="let i of c.images">
                <img class="slide-image" [src]="i">
            </ion-slide>
        </ion-slides>
        <img class="slide-image" *ngIf="c.images.length==0" src="assets/icon/icon.png" />
        <ion-card-content>
            <ion-datetime *ngIf="c.createdAt" text-center disabled displayFormat="DD/MM/YYYY" [(ngModel)]="c.createdAt"></ion-datetime>
            <button *ngIf="c.constructionSite" text-wrap ion-button icon-left clear small color="dark" class="constructionSite-button" (click)="goToConstructionSite(c.constructionSite)">
        <ion-icon name="flag"></ion-icon>
        <div *ngIf="c.constructionSite.title" >{{c.constructionSite.title}}</div>
      </button>
            <p *ngIf="c.description">{{c.description}}</p>
            <p>
                <ion-icon name="sad" color="danger" large></ion-icon>
                {{c.impact}}
            </p>

            <ion-row>
                <ion-slides *ngIf="c.comments.length>0" class="comments">
                    <ion-slide *ngFor="let co of c.comments">
                        <ion-item class="comment-profile">
                            <ion-icon name="chatbubbles"></ion-icon> {{co.user.profile.name}} comentou há {{co.date | amTimeAgo}}
                        </ion-item>
                        <p class="comment-text">
                            {{co.text}}
                        </p>
                        <ion-icon class="slide-indicator-left" name="arrow-dropleft"></ion-icon>
                        <ion-icon class="slide-indicator-right" name="arrow-dropright"></ion-icon>
                    </ion-slide>
                </ion-slides>
            </ion-row>
        </ion-card-content>
        <ion-row *ngIf="commentArea">
            <ion-textarea [(ngModel)]="comment" placeholder="Comente" class="comment-area"></ion-textarea>
            <button class="send-option" block ion-button icon-only clear (click)="sendComment(c)">
                    <ion-icon name="send"></ion-icon>
                </button>
        </ion-row>
        <ion-row>
            <ion-col>
                <button class="complaint-option" block ion-button icon-left clear small (click)="support(c)">
          <div *ngIf="c.supportedBy.indexOf(user._id)<0">
            <ion-icon name="person-add"> <ion-badge>{{c.supportedBy.length}}</ion-badge></ion-icon>
            <div>Apoiar</div>
          </div>
          <div *ngIf="c.supportedBy.indexOf(user._id)>-1">
            <ion-icon name="people"> <ion-badge>{{c.supportedBy.length}}</ion-badge></ion-icon>
            <div>Apoiando</div>
          </div>
        </button>
            </ion-col>
            <ion-col>
                <button [ngClass]="!commentArea?'complaint-option': 'comment-button'" block ion-button icon-left clear small (click)="toggleCommentArea()">
          <div>
            <ion-icon name="text"></ion-icon>
            <div>Comentar</div>
          </div>
        </button>
            </ion-col>
            <ion-col>
                <button class="complaint-option" block ion-button icon-left clear small>
          <div>
            <ion-icon name="share"></ion-icon>
            <div>Compartilhar</div>
          </div>
        </button>
            </ion-col>
        </ion-row>


    </ion-card>
    <ion-fab right bottom>
        <button ion-fab (click)="goToAddComplaint()">
      <ion-icon name="add"></ion-icon>
    </button>
    </ion-fab>

</ion-content>